@model Pie

<div class="addToCart clearfix">
    <p class="button pull-right">
        <a class="btn btn-primary"
           asp-controller="ShoppingCart"
           asp-action="AddToShoppingCart"
           asp-route-pieId="@Model.PieId">
            Add to cart
        </a>
    </p>
</div>